body {
    margin: 0%;
	background: #203030;
	font: 16pt metrophobic;
	color: #fff;
}

h1, h2 {
	color: rgba( 70, 70, 255, 1 );
}

a {
	color: rgba( 255, 230, 20, 1 );
}
li {
    list-style: none;
}
#top, #foot, #algo{
    padding: 2%;
    background-color: #2011;
}
#top {
    float: top;
    margin: 2%;
    text-align: center;
}
#foot {
    float: inline-end;
    margin-top: 2%;
    text-align: center;
}
#algo {
    margin: 4%;
}
